{
  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "color-no-invalid-hex" : true,
    "function-no-unknown": [true, {
      "ignoreFunctions": [
        "transparentize"
      ]
    }]
  }
}
