.catalog {
  padding-top: 65px;
  margin-bottom: 63px;

  @media (min-width: $vp-768) {
    padding-top: 101px;
    margin-bottom: 99px;
  }
}

.catalog__item {
  background-color: $color-alice-blue;
  border-radius: 40px;
  filter: drop-shadow(0 4px 4px transparentize(#bd0d65, 0.85));
  display: flex;
  flex-direction: column;

  &--hidden {
    display: none;

    @media (min-width: $vp-768) {
      display: flex;
    }
  }
}

.catalog__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $vp-768) {
    display: grid;
    gap: 52px 51px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1280) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 52px 2%;
  }
}

.catalog__image {
  border-radius: 40px 40px 0 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
  background-color: $color-alice-blue--dark;
}

.catalog__data {
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
  padding-bottom: 55px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.catalog__item-title {
  margin-bottom: 27px;
  display: inline-block;
  color: $color-deep-sea;

  &:hover {
    color: $color-lawn-green;
  }

  &:active {
    color: transparentize($color-deep-sea, 0.7);
  }
}

.catalog__price {
  margin-bottom: 38px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 4px;
}

.catalog__button {
  width: 100%;
  margin-left: 2px;
  margin-top: auto;
}

.catalog__image-link {
  display: inline-block;
  margin-bottom: 22px;
  width: 100%;
}
