.decoration {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: transparentize($color-edward, 0.3);
    mask: url("/../img/icons/stack.svg#line-leaf");
    height: 32px;
    width: 100%;
    left: 0;
    margin: -97px auto 0 auto;

    @media (min-width: $vp-768) {
      height: 42px;
      margin-top: -116px;
    }

    @media (min-width: $vp-1280) {
      margin-top: -142px;
    }
  }

  &--contact {
    &::before {
      margin-top: -118px;

      @media (min-width: $vp-1280) {
        margin-top: 0;
      }
    }
  }

  &--contact-form {
    &::before {
      margin-top: -93px;

      @media (min-width: $vp-768) {
        margin-top: -116px;
      }

      @media (min-width: $vp-1280) {
        margin-top: -2px;
      }
    }
  }

  &--form {
    &::before {
      margin-top: -83px;

      @media (min-width: $vp-768) {
        margin-top: -115px;
      }

      @media (min-width: $vp-1280) {
        margin-top: -102px;
      }
    }
  }
}
