.intro {
  background-image: url("/../img/content/main-mobile.jpg");
  background-color: transparentize(#8E9892, 0.7);
  background-size: cover;
  background-position: bottom 0 left 0;
  padding-bottom: 192px;
  padding-top: 70px;
  min-height: 640px;

  @media (min-resolution: 2dppx) {
    background-image: url("/../img/content/main-mobile@2x.jpg");
  }

  @media (min-width: $vp-768) {
    background-image: url("/../img/content/main-tablet.jpg");
    min-height: 924px;
    padding: 143px 49px 60px 212px;

    @media (min-resolution: 2dppx) {
      background-image: url("/../img/content/main-tablet@2x.jpg");
    }
  }

  @media (min-width: $vp-1024) {
    position: relative;
    background-image: none;
    background-color: #FBFCFE;
    min-height: 800px;
    padding: 173px calc(10.8% + 147px) 60px calc(10.8% + 382px);

    &::before {
      content: "";
      position: absolute;
      background-image: url("/../img/content/main-desktop.jpg");
      background-position-y: bottom;
      background-size: cover;
      top: 0;
      left: calc((100% - 100vw) / 2);
      width: 100vw;
      height: 100%;
      z-index: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("/../img/content/main-desktop@2x.jpg");
      }

    }
  }
}

.intro__title {
  margin-bottom: 38px;

  @media (min-width: $vp-768) {
    margin-bottom: 49px;
  }

  @media (min-width: $vp-1024) {
    position: relative;
    z-index: 2;
    margin-bottom: 53px;
    text-align: left;
  }
}

.intro__list {
  list-style-type: none;
  margin: 0 29px 53px 29px;
  display: flex;
  flex-direction: column;
  gap: 19px;

  @media (min-width: $vp-768) {
    gap: 24px;
    margin-left: 0;
  }
  @media (min-width: $vp-1024){
    gap: 26px;
    margin-left: 26px;
    margin-bottom: 56px;
  }
}

.intro__item {
  position: relative;
  margin-left: 12px + 32px;
  display: flex;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    left: -32px - 12px;
    background-color: #0F805D;
    width: 32px;
    height: 32px;
  }

  &--leaf:before {
    mask: url(/../img/icons/stack.svg#leaf);
  }

  &--ice:before {
    mask: url(/../img/icons/stack.svg#ice);
    margin-top: 8px;
  }

  &--delivery:before {
    mask: url(/../img/icons/stack.svg#delivery);
    margin-top: 8px;
  }

  @media (min-width: $vp-768) {
    &:before {
      margin-top: 3px;
    }
  }
}

.intro__button {
  width: 100%;

  @media (min-width: $vp-768) {
    width: auto;
  }

  @media (min-width: $vp-1024) {
    margin-left: 38px;
  }
}
