.logo {
  color: $color-deep-sea;
  width: 52px;
  height: 52px;
  display: inline-block;

  @media (min-width: $vp-768) {
    height: 58px;
    width: auto;
    display: flex;
    gap: 9px;
  }

  &--link {
    &:hover {
      color: $color-lawn-green;
    }

    &:active {
      color: transparentize($color-deep-sea, 0.5);
    }
  }
}

.logo__image {
  width: 52px;
  height: 52px;

  @media (min-width: $vp-768) {
    width: 58px;
    height: 60px;
  }
}

.logo__text {
  display: none;

  @media (min-width: $vp-768) {
    display: inline-block;
    margin-top: 14px;
  }
}
