.navigation {
  background-color: $color-alice-blue--dark;
  position: relative;
  z-index: 2;

  @media (min-width: $vp-768) {
    box-shadow: 0 4px 4px transparentize($color-hot-purple, 0.75);
  }
}

.navigation__wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    padding: 22px 26px 24px 26px;
    gap: 50px;
    max-width: $max-width;
  }

  @media (min-width: $vp-1280) {
    margin: 0 auto;
    padding: 23px 192px 26px 157px;
  }
}

.navigation__link {
  text-decoration: none;
  color: $color-black;

  &:hover {
    color: $color-lawn-green;
  }

  &:active {
    color: $color-deep-sea;
  }
}

.navigation__list {
  list-style-type: none;
  padding: 33px 40px 33px 40px;
  min-height: 360px;
  display: none;
  flex-direction: column;
  gap: 29px;
  position: absolute;
  z-index: 2;
  background-color: $color-alice-blue--dark;
  width: 100%;

  &--visible {
    display: flex;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    min-height: auto;
    justify-content: flex-end;
    margin-top: 21px;
    gap: 16px;
  }

  @media (min-width: $vp-1280) {
    gap: 28px;
  }
}

.navigation__logo-wrapper {
  padding: 8px 26px 2px 26px;
  box-shadow: 0 4px 4px transparentize($color-hot-purple, 0.75);
  position: relative;
  z-index: 3;

  @media (min-width: $vp-768) {
    box-shadow: none;
    padding: 0;
  }
}

.navigation__toggle {
  position: absolute;
  right: 21px;
  top: 4px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  z-index: 4;
  outline: 0;

  &::before,
  &--is-open::before {
    content: " ";
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
  }

  &::before {
    width: 60px;
    height: 60px;
    mask: url("/../img/icons/stack.svg#burger");
    background-color: $color-deep-sea;
  }

  &--is-open::before {
    top: 16px;
    right: 8px;
    position: absolute;
    width: 28px;
    height: 28px;
    mask: url("/../img/icons/stack.svg#close");
    background-color: $color-deep-sea;
  }

  &:hover::before,
  &:focus::before {
    background-color: $color-lawn-green;
  }

  &:active::before {
    background-color: transparentize($color-deep-sea, 0.5);
  }

  @media (min-width: $vp-768) {
    display: none;
  }
}

.navigation--no-js .navigation__toggle {
  display: none;
}

.navigation--no-js .navigation__list {
  position: relative;
  display: flex;
}

.navigation__item {
  @media (min-width: $vp-768) {
    min-width: 112px;
  }

  @media (min-width: $vp-1280) {
    min-width: 132px;
  }
}
