@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 400;
  src: url("/../fonts/raleway/Raleway-Regular.woff2") format("woff2"),
    url("/../fonts/raleway/Raleway-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("/../fonts/comfortaa/Comfortaa-Regular.woff2") format("woff2"),
    url("/../fonts/comfortaa/Comfortaa-Regular.woff") format("woff");
  font-display: swap;
}
