body {
  min-width: $vp-320;
  font-family: $ff-raleway;
  font-weight: 400;
  font-style: normal;
  color: $color-black;
  font-size: $fs-default;
  line-height: $lh-default;
  background-color: $color-alice-blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
