/* BreakPoints */
$vp-320:                  320px;
$vp-768:                  768px;
$vp-1024:                 1024px;


/* Margin to content */
$distance-28:             28px;
$distance-94:             94px;
$distance-10-8per:          10.8%;


/* Content max-width */
$max-width:               1440px;


/* Fonts */
$ff-raleway:             "raleway", "Arial", serif;
$ff-comfortaa:           "comfortaa", "Comic Sans MS", serif;


/* Text */
$fs-default:              20px;
$lh-default:              23px;


/* Colors */

$color-black:            #000000;
$color-white:            #ffffff;
